<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="textsuccess-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `textsuccess-element`
     * Text Success
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TextsuccessElement extends Polymer.Element {
      static get is() { return 'textsuccess-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'textsuccess-element'
          }
        };
      }
    }

    window.customElements.define(TextsuccessElement.is, TextsuccessElement);
  </script>
</dom-module>
