<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="textsuccess-element">
  <template>
    <style>
      :host {
        display: block;
      }
      .tab{
       display:inline-flex;
       width:100%;
       justify-content:center;
       border:0;
     }
     .content{
       border:0;
       width: 80%;
       display:block;
       justify-content: space-around;
       align-items: center;
     }
      .content h2{
        text-align:center;
        font-size:30px;
      }
      p {
        display: flex;
        justify-content: center;
        font-weight: bold;
        background-color:#717570;
        height: 30px;
        text-align: center;
        color: #fff;
      }
      fieldset{
        border:0;
        display: flex;
        justify-content:center;
      }
      .btn-purple{
        display:flex;
        font-size: 14px;
        width:40%;
        justify-content:center;
        height:30px;
        align-items:center;
        background-color:#3c4667;
        color:#FFF;
        border:0;
        border-radius:8px;
        margin-left: 30%;
      }
    </style>
    <section class="tab">
      <article class="content">
        <h2>[[prop1]]!</h2>
        <p>lorem lorem lorem lorem lorem lorem lorem lorem</p>
        <p>lorem lorem lorem lorem lorem lorem lorem lorem</p>
        <p>lorem lorem lorem lorem lorem lorem lorem lorem</p>
        <fieldset>
          <button class="btn-purple" type="button" >Success</button>
        </fieldset>
      </article>
    </section>

  </template>

  <script>
    /**
     * `textsuccess-element`
     * Text Success
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TextsuccessElement extends Polymer.Element {
      static get is() { return 'textsuccess-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Success!'
          }
        };
      }
    }

    window.customElements.define(TextsuccessElement.is, TextsuccessElement);
  </script>
</dom-module>
